	<table class='table'>
		<% @playlists['items'].each do |playlist| %>
			<tbody>
				<tr>
					<td> <%= playlist['name'] %></td>
				</tr>
			</tbody>
		<% end %>
	</table>

	<%= link_to 'New Playlist', new_playlist_path(:id => @user.id)  %>
