<%= link_to 'Logout', logout_path %>	

	<table class='table'>
		<tbody>
		<%if @playlists != nil %>
			<% @playlists.each do |playlist| %>
					<tr>
						<td> <%= playlist.name %></td>
						<td> <%= link_to 'Edit', playlist_path(playlist) %>
					</tr>
			<% end %>
		<% end %>
		</tbody>
	</table>

	<%= link_to 'New Playlist', new_playlist_path(:id => @user.id)  %>
